<main role="main" class="container">
  <div class="row">
    <div class="col-12">
      <input 
        type="button" 
        value="send toast" 
        class="btn btn-success"
        onclick="showToast('mensaje kool')"
      >

    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <input 
        type="button" 
        value="send message to server" 
        class="btn btn-success"
        onclick="messageToServer('mensaje desde el cliente')"
      >

    </div>
  </div>
</main>
